---
:dns_server: {{ foreman_proxy_dns_infoblox_dns_server }}
:username: {{ foreman_proxy_dns_infoblox_username }}
:password: {{ foreman_proxy_dns_infoblox_password }}
:dns_view: {{ foreman_proxy_dns_infoblox_dns_view }}
